In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows',None)

## Import dataset

In [2]:
data = pd.read_csv('learningSet.csv')
display(data.head())
display(data.tail())
display(data.shape)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

(95412, 481)

## Check for null values in all the columns

In [3]:
#(data.isna().sum()/len(data)*100).sort_values(ascending = False)

RDATE_5     99.990567
RAMNT_5     99.990567
RDATE_3     99.746363
RAMNT_3     99.746363
RDATE_4     99.705488
RAMNT_4     99.705488
RAMNT_6     99.186685
RDATE_6     99.186685
RAMNT_15    92.388798
RDATE_15    92.388798
RDATE_23    91.763091
RAMNT_23    91.763091
RDATE_20    91.732696
RAMNT_20    91.732696
RAMNT_7     90.677273
RDATE_7     90.677273
RAMNT_17    90.146942
RDATE_17    90.146942
RDATE_21    90.029556
RAMNT_21    90.029556
RAMNT_10    89.035970
RDATE_10    89.035970
RDATE_13    87.160944
RAMNT_13    87.160944
NUMCHLD     87.018404
RDATE_11    84.551209
RAMNT_11    84.551209
RDATE_19    83.359535
RAMNT_19    83.359535
RAMNT_9     82.461326
RDATE_9     82.461326
RDATE_24    81.409047
RAMNT_24    81.409047
RAMNT_18    79.270951
RDATE_18    79.270951
RAMNT_22    78.123297
RDATE_22    78.123297
RAMNT_8     77.495493
RDATE_8     77.495493
RDATE_14    75.561774
RAMNT_14    75.561774
RAMNT_12    73.064185
RDATE_12    73.064185
RAMNT_16    71.707961
RDATE_16    71.707961
ADATE_15    68.625540
ADATE_23    58.975810
MBCOLECT    55.458433
MAGFAML     55.395548
MBCRAFT     55.395548
MBBOOKS     55.395548
MAGFEM      55.395548
MAGMALE     55.395548
PUBGARDN    55.395548
PUBCULIN    55.395548
PUBHLTH     55.395548
PUBDOITY    55.395548
PUBNEWFN    55.395548
PUBPHOTO    55.395548
PUBOPP      55.395548
MBGARDEN    55.395548
ADATE_20    52.613927
WEALTH1     46.882992
WEALTH2     45.930281
ADATE_13    42.152979
ADATE_24    38.750891
ADATE_21    36.905211
ADATE_5     35.205215
ADATE_10    34.322727
ADATE_17    28.979583
ADATE_22    26.881315
ADATE_19    25.657150
AGE         24.802960
INCOME      22.309563
ADATE_18    22.285457
ADATE_16    21.343227
ADATE_14    19.774242
ADATE_9     11.785729
ADATE_11    10.923154
NEXTDATE    10.452564
TIMELAG     10.452564
ADATE_12     9.352073
ADATE_7      9.300717
ADATE_6      3.728043
ADATE_8      3.679831
ADATE_4      2.296357
ADATE_3      2.043768
MSA          0.138347
ADI          0.138347
DMA          0.138347
GEOCODE2     0.138347
CLUSTER2     0.138347
NUMPROM      0.000000
MAXADATE     0.000000
AFC6         0.000000
AFC5         0.000000
MDMAUD_F     0.000000
MDMAUD_A     0.000000
AFC4         0.000000
AFC3         0.000000
AFC2         0.000000
AFC1         0.000000
SEC5         0.000000
SEC4         0.000000
SEC3         0.000000
SEC2         0.000000
SEC1         0.000000
EC8          0.000000
EC7          0.000000
EC6          0.000000
VC1          0.000000
VC2          0.000000
VC3          0.000000
ANC9         0.000000
POBC1        0.000000
ANC15        0.000000
ANC14        0.000000
ANC13        0.000000
ANC12        0.000000
ANC11        0.000000
ANC10        0.000000
ANC8         0.000000
VC4          0.000000
ANC7         0.000000
ANC6         0.000000
ANC5         0.000000
ANC4         0.000000
ANC3         0.000000
ANC2         0.000000
ANC1         0.000000
EC5          0.000000
EC4          0.000000
EC3          0.000000
OCC10        0.000000
EIC4         0.000000
EIC3         0.000000
EIC2         0.000000
EIC1         0.000000
OCC13        0.000000
OCC12        0.000000
OCC11        0.000000
OCC9         0.000000
EIC6         0.000000
OCC8         0.000000
OCC7         0.000000
OCC6         0.000000
OCC5         0.000000
OCC4         0.000000
OCC3         0.000000
OCC2         0.000000
EIC5         0.000000
EIC7         0.000000
EC2          0.000000
OEDC1        0.000000
EC1          0.000000
OEDC7        0.000000
OEDC6        0.000000
OEDC5        0.000000
OEDC4        0.000000
OEDC3        0.000000
OEDC2        0.000000
EIC16        0.000000
EIC8         0.000000
EIC15        0.000000
EIC14        0.000000
EIC13        0.000000
EIC12        0.000000
EIC11        0.000000
EIC10        0.000000
EIC9         0.000000
POBC2        0.000000
LSC1         0.000000
LSC2         0.000000
NGIFTALL     0.000000
RFA_5        0.000000
RFA_4        0.000000
RFA_3        0.000000
RFA_2        0.000000
CARDPM12     0.000000
NUMPRM12     0.000000
RAMNTALL     0.000000
CARDGIFT     0.000000
RFA_7        0.000000
MINRAMNT     0.000000
MINRDATE     0.000000
MAXRAMNT     0.000000
LFC10        0.000000
MAXRDATE     0.000000
LASTGIFT     0.000000
LASTDATE     0.000000
RFA_6        0.000000
RFA_8        0.000000
AVGGIFT      0.000000
RFA_18       0.000000
CARDPROM     0.000000
RFA_24       0.000000
RFA_23       0.000000
RFA_22       0.000000
RFA_21       0.000000
RFA_20       0.000000
RFA_19       0.000000
RFA_17       0.000000
RFA_9        0.000000
RFA_16       0.000000
RFA_15       0.000000
RFA_14       0.000000
RFA_13       0.000000
RFA_12       0.000000
RFA_11       0.000000
RFA_10       0.000000
FISTDATE     0.000000
CONTROLN     0.000000
LSC3         0.000000
HC5          0.000000
HC12         0.000000
HC11         0.000000
HC10         0.000000
HC9          0.000000
HC8          0.000000
HC7          0.000000
HC6          0.000000
HC4          0.000000
HC14         0.000000
HC3          0.000000
HC2          0.000000
HC1          0.000000
VOC3         0.000000
VOC2         0.000000
VOC1         0.000000
LSC4         0.000000
HC13         0.000000
HC15         0.000000
TARGET_B     0.000000
AC2          0.000000
TARGET_D     0.000000
HPHONE_D     0.000000
RFA_2R       0.000000
RFA_2F       0.000000
RFA_2A       0.000000
MDMAUD_R     0.000000
ADATE_2      0.000000
AC1          0.000000
HC16         0.000000
MHUC2        0.000000
MHUC1        0.000000
HC21         0.000000
HC20         0.000000
HC19         0.000000
HC18         0.000000
HC17         0.000000
OCC1         0.000000
ODATEDW      0.000000
LFC9         0.000000
AGE906       0.000000
AGE904       0.000000
AGE903       0.000000
AGE902       0.000000
AGE901       0.000000
ETH16        0.000000
ETH15        0.000000
ETH14        0.000000
ETH13        0.000000
ETH12        0.000000
ETH11        0.000000
ETH10        0.000000
ETH9         0.000000
ETH8         0.000000
ETH7         0.000000
ETH6         0.000000
ETH5         0.000000
ETH4         0.000000
ETH3         0.000000
ETH2         0.000000
ETH1         0.000000
POP90C5      0.000000
POP90C4      0.000000
POP90C3      0.000000
POP90C2      0.000000
POP90C1      0.000000
AGE905       0.000000
AGE907       0.000000
MARR4        0.000000
CHIL1        0.000000
MARR2        0.000000
MARR1        0.000000
HHN6         0.000000
HHN5         0.000000
HHN4         0.000000
HHN3         0.000000
HHN2         0.000000
HHN1         0.000000
HHAGE3       0.000000
HHAGE2       0.000000
HHAGE1       0.000000
CHILC5       0.000000
CHILC4       0.000000
CHILC3       0.000000
CHILC2       0.000000
CHILC1       0.000000
AGEC7        0.000000
AGEC6        0.000000
AGEC5        0.000000
AGEC4        0.000000
AGEC3        0.000000
AGEC2        0.000000
AGEC1        0.000000
CHIL3        0.000000
CHIL2        0.000000
POP903       0.000000
POP902       0.000000
POP901       0.000000
PEPSTRFL     0.000000
MALEVET      0.000000
MALEMILI     0.000000
DATASRCE     0.000000
HIT          0.000000
GENDER       0.000000
CHILD18      0.000000
CHILD12      0.000000
CHILD07      0.000000
CHILD03      0.000000
HOMEOWNR     0.000000
AGEFLAG      0.000000
CLUSTER      0.000000
DOMAIN       0.000000
MDMAUD       0.000000
RECSWEEP     0.000000
RECPGVG      0.000000
RECP3        0.000000
RECINHSE     0.000000
NOEXCH       0.000000
DOB          0.000000
PVASTATE     0.000000
MAILCODE     0.000000
ZIP          0.000000
STATE        0.000000
TCODE        0.000000
VIETVETS     0.000000
WWIIVETS     0.000000
LOCALGOV     0.000000
STEREO       0.000000
LIFESRC      0.000000
PLATES       0.000000
CARDS        0.000000
KIDSTUFF     0.000000
WALKER       0.000000
BOATS        0.000000
GARDENIN     0.000000
FISHER       0.000000
CRAFTS       0.000000
PHOTO        0.000000
PCOWNERS     0.000000
CDPLAY       0.000000
STATEGOV     0.000000
PETS         0.000000
HOMEE        0.000000
CATLG        0.000000
BIBLE        0.000000
VETERANS     0.000000
COLLECT1     0.000000
GEOCODE      0.000000
MAJOR        0.000000
SOLIH        0.000000
SOLP3        0.000000
FEDGOV       0.000000
MARR3        0.000000
HHP1         0.000000
LFC8         0.000000
HHAS2        0.000000
IC23         0.000000
IC22         0.000000
IC21         0.000000
IC20         0.000000
IC19         0.000000
IC18         0.000000
IC17         0.000000
IC16         0.000000
IC15         0.000000
IC14         0.000000
IC13         0.000000
IC12         0.000000
IC11         0.000000
IC10         0.000000
IC9          0.000000
IC8          0.000000
IC7          0.000000
IC6          0.000000
IC5          0.000000
IC4          0.000000
IC3          0.000000
IC2          0.000000
IC1          0.000000
RP4          0.000000
RP3          0.000000
HHAS1        0.000000
HHAS3        0.000000
HHP2         0.000000
HHAS4        0.000000
LFC7         0.000000
LFC6         0.000000
LFC5         0.000000
LFC4         0.000000
LFC3         0.000000
LFC2         0.000000
LFC1         0.000000
TPE13        0.000000
TPE12        0.000000
OSOURCE      0.000000
TPE10        0.000000
PEC2         0.000000
PEC1         0.000000
TPE9         0.000000
TPE8         0.000000
TPE7         0.000000
TPE6         0.000000
TPE5         0.000000
TPE4         0.000000
TPE3         0.000000
TPE2         0.000000
TPE1         0.000000
MC3          0.000000
MC2          0.000000
MC1          0.000000
RP2          0.000000
RP1          0.000000
HUPA7        0.000000
HUPA6        0.000000
HHD7         0.000000
HHD6         0.000000
HHD5         0.000000
HHD4         0.000000
HHD3         0.000000
HHD2         0.000000
HHD1         0.000000
HU5          0.000000
HU4          0.000000
HU3          0.000000
HU2          0.000000
HU1          0.000000
HV4          0.000000
HV3          0.000000
HV2          0.000000
HV1          0.000000
DW9          0.000000
DW8          0.000000
DW7          0.000000
DW6          0.000000
DW5          0.000000
DW4          0.000000
DW3          0.000000
DW2          0.000000
DW1          0.000000
HHD8         0.000000
HHD9         0.000000
HHD10        0.000000
HVP6         0.000000
HUPA5        0.000000
HUPA4        0.000000
HUPA3        0.000000
HUPA2        0.000000
HUPA1        0.000000
RHP4         0.000000
RHP3         0.000000
RHP2         0.000000
RHP1         0.000000
HUR2         0.000000
HUR1         0.000000
HVP5         0.000000
HHD11        0.000000
HVP4         0.000000
HVP3         0.000000
HVP2         0.000000
HVP1         0.000000
ETHC6        0.000000
ETHC5        0.000000
ETHC4        0.000000
ETHC3        0.000000
ETHC2        0.000000
ETHC1        0.000000
HHD12        0.000000
TPE11        0.000000
dtype: float64

## Exclude the following variables by looking at the definitions. 

Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

In [4]:
print(data['OSOURCE'].dtypes)
print(data['ZIP'].dtypes)

object
object

In [ ]:
drop_list = []

In [11]:
drop_list1 = ['OSOURCE', 'ZIP']

## Identify columns that over 85% missing values

In [12]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
#nulls_percent_df

In [13]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
columns_above_threshold['column_name']

23      NUMCHLD
412     RDATE_3
413     RDATE_4
414     RDATE_5
415     RDATE_6
416     RDATE_7
419    RDATE_10
422    RDATE_13
424    RDATE_15
426    RDATE_17
429    RDATE_20
430    RDATE_21
432    RDATE_23
434     RAMNT_3
435     RAMNT_4
436     RAMNT_5
437     RAMNT_6
438     RAMNT_7
441    RAMNT_10
444    RAMNT_13
446    RAMNT_15
448    RAMNT_17
451    RAMNT_20
452    RAMNT_21
454    RAMNT_23
Name: column_name, dtype: object

In [14]:
drop_list2 = list(columns_above_threshold['column_name'])
print(drop_list2)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [15]:
drop_list = drop_list1 + drop_list2

## Remove those columns from the dataframe

In [16]:
data = data.drop(drop_list, axis=1)

In [17]:
data.shape

(95412, 454)

## Reduce the number of categories in the column GENDER.

In [18]:
data['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [19]:
data['GENDER'] = data['GENDER'].fillna('F')

In [21]:
def gender(x):
    if 'F' in x:
        return 'F'
    elif 'M' in x:
        return 'M'
    else:
        return 'other'

data['GENDER'] = list(map(gender, data['GENDER']))

In [23]:
data['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [22]:
data.head()

,ODATEDW,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A